
<head>
    <title>Add Award | Giveaway</title>
</head>

<!-- Navigation -->
<br>
<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <br>
        <form class="form-signin mt-xl-5" method="POST" th:action="@{'/awards/add/{id}' (id=${award?.id})}">
            <th-block th:if="${award} == null">
            <h2 class="form-signin-heading">Add Award</h2>
            </th-block>
            <th-block th:if="${award} != null">
                <h2 class="form-signin-heading">Edit Award</h2>
            </th-block>
            <p>
                <label for="name" class="sr-only">Name</label>
                <input type="text"
                       id="name"
                       name="name"
                       class="form-control"
                       placeholder="Name"
                       th:value="${award?.name}"
                       required="" autofocus="">
            </p>
            <p>
                <label for="weight" class="sr-only">Weight</label>
                <input type="text"
                       id="weight"
                       name="weight"
                       class="form-control"
                       placeholder="Weight in grams"
                       th:value="${award?.weight}"
                       required="" autofocus="">
            </p>
            <p>
                <label for="url" class="sr-only">Url</label>
                <input type="text"
                       id="url"
                       name="url"
                       class="form-control"
                       placeholder="Photo Url"
                       th:value="${award?.url}"
                       required="" autofocus="">
            </p>
            <div class="form-group">
                <label for="manufacturer">Manufacturer</label>
                <select id="manufacturer" name="manufacturer" class="form-control" th:if="${manufacturers.size()} >= 1">
                    <option th:if="${award} != null"
                            th:selected="${award.getManufacturer() != null && award.getManufacturer().getId() == man.getId()}"
                            th:each="man : ${manufacturers}"
                            th:value="${man.getId()}"
                            th:text="${man.getName()}">
                    </option>
                    <option
                            th:each="man : ${manufacturers}"
                            th:value="${man.getId()}"
                            th:text="${man.getName()}">
                    </option>
                </select>
                <br>
                <span>
                    <p>
                        Manufacturer for your product does not exist. Create here
                        <a type="button" name="addManufacturer" class="btn btn-primary" href="/manufacturer/add-manu">Add Manufacturer</a>
                    </p>
                </span>
            </div>
            <th-block th:if="${award} == null">
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">Add Award</button>
            </th-block>
            <th-block th:if="${award} != null">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Edit Award</button>
            </th-block>
        </form>
    </div>
</div>