<head>
    <title>Add Category</title>
</head>
<div xmlns:th="http://www.thymeleaf.org">
<!-- Navigation -->
    <br><br><br>
<th:block >
    <div class="container">
        <form class="form-signin mt-xl-5" method="post" action="/category/add" >
            <h2 class="form-signin-heading">Add Category</h2>
            <p>
                <label for="name" class="sr-only">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Category Name" required="" autofocus="">
            </p>
            <p>
                <label for="description" class="sr-only">Description</label>
                <textarea id="description" name="description" rows="4" cols="50"></textarea>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Category</button>
        </form>

    </div>
</th:block>
</div>