
<head>
    <title>Add-Giveaway | Giveaway</title>
</head>

<br><br><br>
<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <p th:if="${awards.size()<1}">You don't have any free awards.Create one
        <a href="/awards/add-award" class="btn btn-primary">Create Award</a></p>
        <form class="form-signin mt-xl-5" method="post" action="/giveaway/add" th:if="${awards.size()>0}">
            <h2 class="form-signin-heading">Register</h2>
            <p>
                <label for="name" class="sr-only">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Giveaway Name" required="" autofocus="">
            </p>
            <p>
                <label for="startdate" class="sr-only">Start Date</label>
                <input type="date" id="startdate" name="startdate" class="form-control" placeholder="Start Date" required="" autofocus="">
            </p>
            <p>
                <label for="enddate" class="sr-only">End Date</label>
                <input type="date" id="enddate" name="enddate" class="form-control" placeholder="End Date" required="" autofocus="">
            </p>

            <div class="form-group">
                <label for="award">Award</label>
                <select name="award" id="award" class="form-control">
                    <option
                            th:each="award : ${awards}"
                            th:value="${award.getId()}"
                            th:text="${award.getName()}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="region">Region</label>
                <select  class="form-control" required="required" name="region" id="region" onchange="zemji(this.value)">
                    <option disabled="disabled" selected="selected" > --
                        Region --
                    </option>
                    <option th:each="region : ${regions}" th:value="${region.id}"
                            th:text="${region.name}" >
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="country">Country:</label>
                <select class="form-control" name="country" id="country" required="required" multiple="true" >
                    <option disabled="disabled" selected="selected" > -- Countries --</option>
                </select>
            </div>

            <div class="form-group">
                <label>Category</label>
                <select name="category" class="form-control" th:if="${categories.size()} >= 1">
                    <option
                            th:each="category : ${categories}"
                            th:value="${category.getId()}"
                            th:text="${category.getName()}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label>User-Type</label>
                <select name="user_type" class="form-control" onchange="userType(this.value)">
                    <option
                            th:each="ut : ${user_types}"
                            th:value="${ut}"
                            th:text="${ut}">
                    </option>
                </select>
            </div>

            <div id="company" hidden>

                <p>
                    <label for="companyName" class="sr-only">Name</label>
                    <input type="text" id="companyName" name="companyName" class="form-control" placeholder="Company Name">
                </p>

                <p>
                    <label for="address" class="sr-only">Name</label>
                    <input type="text" id="address" name="address" class="form-control" placeholder="Company Address">
                </p>

                <p>
                    <label for="desc" class="sr-only">Name</label>
                    <input type="text" id="desc" name="desc" class="form-control" placeholder="Company Description">
                </p>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">Make a giveaway</button>
        </form>
        <a href="/giveaway" class="btn btn-block btn-light">Back</a>
    </div>
</div>
