
<head>
    <title>Winner | Giveaway</title>
</head>
<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <br><br><br>
        <h1>The Winner is user with username: <span th:text="${winner.getUsername()}"></span></h1>
        <br><br>
    <form th:action="@{'/my-profile'}" style="display: contents;">
        <button type="submit"
                id="back"
                name="back"
                class="button">Back to giveaways
        </button>
    </form></div>
</div>
