<head>
    <title> Details | Giveaway </title>
</head>

<style>
    .slika{
        width: 500px;
    }
    @media (max-width: 994px){
        .slika{
            width: 380px;
        }  }
    @media (max-width: 500px){
        .slika{
            width: 200px;
        }  }
</style>

<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<br/><br/><br/>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Giveaway Info:</h4>
            <div th:if="${hasMessage}">
                <h4 class="text-center text-danger message" th:text="${message}"></h4>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
            <div class="card-img-top col-md-7">
                <img th:src="${giveaway.getAward().getUrl()}" class="slika">
            </div>
            <div class="card-text col-md-5">
                <dl class="dl-horizontal row">
                    <!--
                    <dd>
                        <img th:src="${giveaway.getAward().getUrl()}">
                    </dd>-->
                    <dt class="col-sm-4 text-md-right">
                        Giveaway Name:
                    </dt>

                    <dd th:text="${giveaway.getName()}" class="col-sm-8">

                    </dd>
                    <dt class="col-sm-4 text-md-right">
                        Award Name:
                    </dt>

                    <dd th:text="${giveaway.getAward().getName()}" class="col-sm-8">

                    </dd>
                    <dt class="col-sm-4 text-md-right">
                        Start Date:
                    </dt>

                    <dd th:text="${#dates.format(giveaway.getStartDate(), 'dd-MM-yyyy')}" class="col-sm-8">

                    </dd>

                    <dt class="col-sm-4 text-md-right" >
                        End Date:
                    </dt>

                    <dd th:text="${#dates.format(giveaway.getEndDate(), 'dd-MM-yyyy')}" class="col-sm-8">

                    </dd>
                    <dt class="col-sm-4 text-md-right">
                        Number of Participants:
                    </dt>

                    <dd th:text="${giveaway.getParticipants().size()}" class="col-sm-8">

                    </dd>
                    <dt th:if="${hasWinner==true}" class="col-sm-4 text-md-right">
                        Winner username:
                        </dt>
                    <dd th:if="${hasWinner==true}" th:text="${giveaway.getWinner().getUsername()}" class="col-sm-8">
                    </dd>
                </dl>
                <br>
                <form th:action="@{'/giveaway'}" style="display: contents;">
                    <button type="submit"
                            id="back"
                            name="back"
                            class="button">Back to giveaways
                    </button>
                </form>
            </div>
            </div>
        </div>
        <th:block th:if="${giveaway.getParticipants().size()>0} and ${hasWinner!=true}">
        <div class="card-footer">
            <form th:method="post" th:action="@{'/giveaway/choosewinner/{id}' (id=${giveaway.getId()})}" th:if="${isCreator}==true and ${hasWinner}==null and ${isFinished}==true and ${NoParticipants}==null">
                <button name="winner" type="submit" class="btn btn-sm btn-danger btn-block">
                    <i class="fa fa-trash">Choose Winner!</i>
                </button>
            </form>
        </div>
        </th:block>
    </div>
</div>
</div>

